.Stata {
  width: 500px;
  height: 50px;
  background: none;
  margin: 20px 0px 80px 450px;
  position: relative;
}
.stataEntrtaiment{
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  height: 50px;
  background: rgba(101, 101, 98, 0.5);
  transition: all 1s;
}
.legendEntertaiment{
  line-height: 20px;
  position: absolute;
  top: 60px;
  left: 0px;
  content: '';
  width: 100px;
  height: 50px;
  background: rgba(101, 101, 98, 0.5);
}
span::after{
  position: absolute;
  left: 30px;
  top: 10px;
}
.stataFood{
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  height: 50px;
  background: rgb(232, 201, 102);
  transition: all 1s;
}
.legendFood{
  line-height: 20px;
  position: absolute;
  top: 60px;
  left: 200px;
  content: '';
  width: 100px;
  height: 50px;
  background: rgb(232, 201, 102);
}
.stataCar{
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  height: 50px;
  background: rgb(102, 225, 232);
  transition: all 1s;
}
.legendCar{
  line-height: 20px;
  position: absolute;
  top: 60px;
  left: 400px;
  content: '';
  width: 100px;
  height: 50px;
  background: rgb(102, 225, 232);
}
